[submodule "maviss_description/maviss"]
	path = maviss_description/maviss
	url = git@github.com:cviss-lab/maviss.git
	branch = dev/maviss_description
[submodule "FAST-LIVO2"]
	path = FAST-LIVO2
	url = git@github.com:cviss-lab/FAST-LIVO2.git
	branch = humble
[submodule "rpg_vikit"]
	path = rpg_vikit
	url = git@github.com:cviss-lab/rpg_vikit.git
[submodule "livox_laser_simulation_RO2"]
	path = livox_laser_simulation_RO2
	url = git@github.com:stm32f303ret6/livox_laser_simulation_RO2.git
